/* galerija */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc_name{
  font-weight: bold;
  color: black;
  padding: 5px;
  text-align: center;
}
div.price {
  font-size: 3vh;
  color: #3ce343;
  padding-left: 30px;
}

* {
  box-sizing: border-box;
}

.gallery {
  margin-top: 20px;
  padding: 0 6px;
  padding-top: 6px;
  margin-left: 100px;
  margin-bottom: 30px;
  float: left;
  width: 15%;
}
/* padding: 0 6px;
padding-top: 20px;
margin-left: 290px;
float: left;
width: 24.99999%; */

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* galerija */
.dugme_dodaj_korpu{
  float: right;
  position: relative;
  bottom: 35px;
  margin-right: 15px;
}
.sesija{
  position: relative;
}
.dodajkorpa_session_dugme{
  position: absolute;
  bottom: 5px;
  left: 12vw;
}
